body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1600' height='900' preserveAspectRatio='none' viewBox='0 0 1600 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1299%26quot%3b)' fill='none'%3e%3crect width='1600' height='900' x='0' y='0' fill='url(%23SvgjsLinearGradient1300)'%3e%3c/rect%3e%3cpath d='M1466.365%2c831.975C1522.699%2c829.314%2c1552.829%2c771.609%2c1579.564%2c721.952C1604.36%2c675.897%2c1627.108%2c624.107%2c1603.375%2c577.495C1577.829%2c527.323%2c1522.582%2c496.551%2c1466.365%2c499.63C1414.406%2c502.476%2c1378.868%2c545.994%2c1353.098%2c591.202C1327.655%2c635.837%2c1311.127%2c687.108%2c1332.997%2c733.598C1358.201%2c787.174%2c1407.223%2c834.768%2c1466.365%2c831.975' fill='rgba(204%2c 190%2c 19%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M591.4679531519574 888.2056806382637L528.0321754485824 588.3589581697217 325.8343025872614 764.1268874627197z' fill='rgba(204%2c 190%2c 19%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M461.962669080295 736.3020275132833L609.8821436809505 660.9332907284045 534.5134068960717 513.0138161277489 386.59393229541615 588.3825529126277z' fill='rgba(204%2c 190%2c 19%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M797.2066039261679 331.6926628990012L767.471556044313 484.66622289466665 920.4451160399785 514.4012707765214 950.1801639218334 361.427710780856z' fill='rgba(204%2c 190%2c 19%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1323.0455020780141 540.3966698955672L1292.8537747919793 369.1708758354218 1121.6279807318338 399.36260312145663 1151.8197080178686 570.5883971816021z' fill='rgba(204%2c 190%2c 19%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M621.0159082945208 275.94638567088214L848.16161342956 215.0828774157505 787.2981051744284-12.062827719288748 560.1524000393892 48.80068053584293z' fill='rgba(204%2c 190%2c 19%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1496.963%2c648.874C1560.176%2c649.234%2c1630.98%2c636.377%2c1660.05%2c580.244C1687.833%2c526.596%2c1651.035%2c466.722%2c1617.228%2c416.651C1588.576%2c374.215%2c1548.165%2c338.416%2c1496.963%2c338.698C1446.181%2c338.978%2c1407.154%2c375.718%2c1378.973%2c417.964C1346.097%2c467.248%2c1310.105%2c525.65%2c1337.062%2c578.405C1365.468%2c633.997%2c1434.535%2c648.519%2c1496.963%2c648.874' fill='rgba(204%2c 190%2c 19%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M518.1479256142354 156.76266069004993L586.5529656725249 16.511544275153284 377.8968091993388 88.35762063176047z' fill='rgba(204%2c 190%2c 19%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M472.53910854760505 548.7290108075896L616.1071371540921 687.3710444540549 754.7491708005574 543.8030158475677 611.1811421940703 405.16098220110246z' fill='rgba(204%2c 190%2c 19%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M185.594%2c806.603C234.31%2c808.701%2c289.078%2c798.122%2c311.978%2c755.073C334.092%2c713.501%2c306.988%2c666.305%2c281.177%2c626.921C258.575%2c592.434%2c226.794%2c563.908%2c185.594%2c562.233C141.458%2c560.439%2c98.14%2c580.613%2c75.534%2c618.562C52.425%2c657.355%2c53.945%2c705.974%2c76.754%2c744.944C99.329%2c783.514%2c140.944%2c804.68%2c185.594%2c806.603' fill='rgba(204%2c 190%2c 19%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M114.257%2c361.295C159.312%2c359.666%2c196.42%2c327.541%2c216.323%2c287.088C234.027%2c251.105%2c224.56%2c210.755%2c205.752%2c175.336C185.337%2c136.891%2c157.719%2c97.291%2c114.257%2c94.877C67.603%2c92.286%2c26.678%2c123.642%2c3.287%2c164.092C-20.135%2c204.594%2c-24.394%2c254.189%2c-1.449%2c294.964C21.918%2c336.49%2c66.639%2c363.017%2c114.257%2c361.295' fill='rgba(204%2c 190%2c 19%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1725.498%2c1250.659C1806.499%2c1245.337%2c1869.032%2c1186.172%2c1907.567%2c1114.725C1943.9%2c1047.361%2c1949.606%2c968.51%2c1914.301%2c900.602C1875.947%2c826.83%2c1808.586%2c767.649%2c1725.498%2c764.526C1637.406%2c761.215%2c1556.123%2c810.051%2c1510.399%2c885.42C1462.836%2c963.821%2c1450.132%2c1062.709%2c1496.666%2c1141.724C1542.614%2c1219.744%2c1635.148%2c1256.596%2c1725.498%2c1250.659' fill='rgba(204%2c 190%2c 19%2c 1)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1299'%3e%3crect width='1600' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1300'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(2%2c 253%2c 195%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
.form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    padding: 8px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}
form {
    margin: 0.5rem 0;
    color: white;
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem #f3f2da;
}
form .form-group {
    margin: 2rem 0;
}
.form-wrapper h2 {
    font-weight: bold;
    color: #ffffff;
}
form .btn {
    background-color: #0d4356;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}
button:hover {
    color: rgb(209, 147, 43);
}

.other-action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem 0;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 576px) {
    .form-wrapper {
        width: 90vw;
    }
    form .form-group {
        margin: 1rem 0;
    }
}
